import './{{ pascal.viewName }}.scoped.css';

/* import { BaseButton } from '@/components' */

function {{ pascal.viewName }}(): JSX.Element {
  return (
    <div className="container-fluid h-100">
      <div className="d-flex row h-100 align-items-center">
        <h1 className="text-muted fw-bold text-center">
          Conteúdo de {{ kebab.viewName }}
        </h1>
      </div>
    </div>
  );
}

export default {{ pascal.viewName }};
